.PadContainer {
  text-align: center;
  line-height: 70px;
  background-color: #222;
  cursor: pointer;
}

.PadContainer.playing {
  background-color: #333;
}

.Pad {
  display: inline-block;
  background-color: #555;
  height: 50px;
  width: 50px;
  margin: 10px;
  border-radius: 12px;
  position: relative;
  filter: drop-shadow(0px 0px 5px #FFF0);

  transition-property: background-color, filter;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.Pad:before, .Pad:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
  transform: scaleX(1.9) scaleY(1.05);
  clip: rect(0, 33px, 50px, 17px);
}

.Pad:after {
  transform: scaleY(1.9) scaleX(1.05) rotate(90deg);
}

.PadContainer:hover .Pad, .PadContainer.playing .Pad {
  background-color: #777;
  filter: drop-shadow(0px 0px 5px #FFFA);
}

.Pad.active {
  background-color: #00d8ff;
  filter: drop-shadow(0px 0px 8px #00d8ffbb);
  /*box-shadow: 0px 0px 20px #00d8ff;*/
}

.PadContainer:hover .Pad.active, .PadContainer.playing .Pad.active {
  background-color: #7febff;
  filter: drop-shadow(0px 0px 8px #7febffbb);
}

.Pad.accent {
  background-color: #00d8ff;
  filter: drop-shadow(0px 0px 8px #00d8ffbb) hue-rotate(160deg);
}

.PadContainer:hover .Pad.accent, .PadContainer.playing .Pad.accent {
  background-color: #7febff;
  filter: drop-shadow(0px 0px 8px #7febffbb) hue-rotate(160deg);
}
