* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  letter-spacing: 0.05em;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: "Roboto Slab", serif;
  color: white;
  background-color: #222;
}

input, button, select {
  margin: 0;
	border: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	background: none;
	line-height: 1;
  font-weight: normal;
}

input:focus, button:focus, select:focus {
	outline:0;
}
